body {
    font-family: 'Roboto Slab', 'Open Sans';
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    background-color:lightgray
}

.width {
    width: 750px;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/room.png);
    background-repeat: no-repeat;
    background-position: center 240px;
    font-weight: 500;

    
    position: relative;
    background-color: rgb(255, 255, 255);
}

.header {
    height: 245px;
    background-color: #2f7a59;
}

#logo {
    margin-left: 38px;
    margin-top: 48px;
}

h1 {
    display: inline-block;
    font-size: 30px;
    font-style: normal;
    color: #fff;
    margin-left: 55px;
    font-weight: 500;
    
}

#menu {
    margin-left: 230px;
    margin-bottom: 46px;
}

.btn1 {
    border: none;
    outline: none;
    height: 74px;
    width: 340px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 210px;
    margin-top: 345px;
    background-color: #bc871e
}

#photo {
    margin-top: 120px;
    margin-left: 45px;
}

.name {
    font-size: 37px;
    display: inline-block;
    margin-left: 55px;
    width: 280px;
    line-height: 17px;
    position: relative;
    top: -110px;
}

span {
    font-size: 26px;
    line-height: 26px;
}

.description {
    margin: 0;
    padding-left: 45px;
    padding-right: 75px;
    font-family: 'Roboto Slab';
    text-align: left;
}

h2 {
    font-size: 36px;
    padding-left: 45px;
    font-weight: 400;
}

.btn2 {
    border: none;
    outline: none;
    height: 74px;
    width: 340px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 205px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #bc871e
}

.contacts {
    background-color: #a3a1a1;
    height: 153px;
}

.contacts img{
    width: 100px;
    margin-left: 45px;
    margin-top: 29px;
}

.contacts p {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

#addres1 {
    margin-left: 154px;
}

#addres2 {
    margin-left: 37px;
    text-align: right;
    line-height: 45px;
}
